<div class="container">
    <div class="jumbotron">
        <h1 class="display-6">Transactions</h1>
        <p class="lead-1">Transactions list by account holder</p>
        <hr class="my-2">
        <div class="input-group">
            <select id="iAccountHolder" [(ngModel)]="accountholder" class="form-select">
                <option *ngFor="let c of accountholders" [ngValue]="c">{{c.cpf}}-{{c.nome}}</option>
            </select>
            <button class="btn btn-outline-secondary me-md-2 btn-sm" type="button"
                (click)="transactionsList()">Search</button>
            <a class="btn btn-outline-primary btn-sm" routerLink="/transactions-new">New Transaction</a>
            <a class="btn btn-outline-primary btn-sm" routerLink="/accountholders">Account Holders</a>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Date Time</th>
                    <th scope="col">Description</th>
                    <th scope="col">Value</th>
                    <th scope="col">Type</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of transactions; index as i">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ item.dateTime | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
                    <td>{{ item.description }}</td>
                    <td [ngStyle]="{'color':item.type === 'REVENUE' ? 'blue' : 'red'}">{{ item.value | currency:'BRL' }}
                    </td>
                    <td>{{ item.type }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>